body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    background-color:green;
    color: white;
}

p{
    padding: 20px 30px;
    text-align: center;
    color: white;
    background-color: red;
}


